<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <style>
        table, tr, td { 
            border-style: solid; 
            border-width: 1px; 
            border-left-width: 1px; 
            border-right-width: 1px; 
            border-color: black;
        }
    </style>
</head>
<body>
    <p><a href="/login">Login</a></p>
    <p><a href="/logout">Logout</a></p>
    <p><a href="/create">Create Post</a></p>

    <h1>Dashboard</h1>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    <table>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Date</td>
            <td>Author</td>
            <td>Content</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>

        {% for post in posts %}
        <tr>
            <td>{{ post['post_id'] }}</td>
            <td>{{ post['post_title'] }}</td>
            <td>{{ post['post_date'] }}</td>
            <td>{{ post['post_author'] }}</td>
            <td>{{ post['post_content'] }}</td>
            <td>
                <a href="/edit/{{ post['post_id'] }}">Edit</a>
            </td>
            <td>
                <form action="/delete/{{ post['post_id'] }}" method="post">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>
